In [1]:
# Dependencies
import pandas as pd
from sqlalchemy import create_engine
from config import sql_pw
import psycopg2

In [2]:
# Establish Connection
engine = create_engine(f"postgresql+psycopg2://postgres:{sql_pw}@localhost:5432/covid_db")
connection = engine.connect()

In [3]:
# Table HTML code for website
state_table = pd.read_sql_query('select * from state order by id', con=engine).to_html
vaccine_table = pd.read_sql_query('select * from vaccine order by id', con=engine).to_html
allocation_table = pd.read_sql_query('select * from allocation order by id', con=engine).to_html
# state_table()

In [12]:
# Doses as % of population
allocation_df = pd.read_sql_query('SELECT s.state, s.population\
                                          ,SUM(CASE WHEN v.req_doses = 2 THEN a.dose2\
                                                    WHEN v.req_doses = 1 THEN a.dose1 END) as full_doses\
                                          ,SUM(CASE WHEN v.req_doses = 2 THEN a.dose1-a.dose2\
                                                    WHEN v.req_doses = 1 THEN 0 END) as partial_doses\
                                      FROM allocation a\
                                      INNER JOIN vaccine v ON a.vaccine_id = v.id\
                                      INNER JOIN state s ON a.state_id = s.id\
                                      GROUP BY s.state, s.population'
                                  , con=engine)
allocation_df['pct_full'] = allocation_df['full_doses']/allocation_df['population']*100

# Data shows 0 partial doses. Removing column from dataframe.
# allocation_df['pct_partial'] = allocation_df['partial_doses']/allocation_df['population']*100

allocation_df = allocation_df[['state', 'pct_full']]
allocation_df = allocation_df.rename(columns={'state':'State','pct_full':'Allocation Rate'}).sort_values('State')
allocation_df.head()

         State  Allocation Rate
48     Alabama        25.872163
9       Alaska        39.508164
43     Arizona        24.716719
8     Arkansas        25.658724
4   California        25.543159

In [45]:
# % of 50 US States allocated per vaccine
by_vaccine_df = pd.read_sql_query("SELECT v.vaccine, s.usa_population\
                                                    ,SUM(CASE WHEN v.req_doses = 2 THEN a.dose2\
                                                              WHEN v.req_doses = 1 THEN a.dose1 END) as full_doses\
                                                FROM allocation a\
                                                INNER JOIN vaccine v ON a.vaccine_id = v.id\
                                                CROSS JOIN (SELECT sum(population) as usa_population\
                                                                FROM state\
                                                                WHERE state NOT IN ('District of Columbia', 'Puerto Rico')\
                                                            ) s\
                                                GROUP BY v.vaccine, s.usa_population"
                                  , con=engine)
usa_population = by_vaccine_df['usa_population'][0]
by_vaccine_df['Allocation Rate'] = by_vaccine_df['full_doses']/by_vaccine_df['usa_population']*100
by_vaccine_df = by_vaccine_df[['vaccine','Allocation Rate']]
by_vaccine_df = by_vaccine_df.rename(columns={'vaccine':'Vaccine'})

# Calculate unallocated % of population
total_allocated = by_vaccine_df['Allocation Rate'].sum()
unallocated = 100 - total_allocated
df = pd.DataFrame({'Vaccine':['Not Allocated'],'Allocation Rate':[unallocated]})

by_vaccine_df = pd.concat([by_vaccine_df, df], ignore_index = True)

by_vaccine_df

         Vaccine  Allocation Rate
0        Moderna        13.084910
1        Janssen         1.134845
2         Pfizer        13.240415
3  Not Allocated        72.539830