In [1]:
# Dependencies
import pandas as pd
from sqlalchemy import create_engine
from config import sql_pw
import psycopg2

In [11]:
# Establish Connection
engine = create_engine(f"postgresql+psycopg2://postgres:{sql_pw}@localhost:5432/covid_db")
connection = engine.connect()

In [10]:
# Table data for website
state_table = pd.read_sql_query('select * from state order by id', con=engine).to_html
vaccine_table = pd.read_sql_query('select * from vaccine order by id', con=engine).to_html
allocation_table = pd.read_sql_query('select * from allocation order by id', con=engine).to_html
# state_table()

In [22]:
# Doses as % of population
allocation_df = pd.read_sql_query('SELECT s.state, s.population\
                                          ,SUM(CASE WHEN v.req_doses = 2 THEN a.dose2\
                                                    WHEN v.req_doses = 1 THEN a.dose1 END) as full_doses\
                                          ,SUM(CASE WHEN v.req_doses = 2 THEN a.dose1-a.dose2\
                                                    WHEN v.req_doses = 1 THEN 0 END) as partial_doses\
                                      FROM allocation a\
                                      INNER JOIN vaccine v ON a.vaccine_id = v.id\
                                      INNER JOIN state s ON a.state_id = s.id\
                                      GROUP BY s.state, s.population'
                                  , con=engine)
allocation_df['pct_full'] = allocation_df['full_doses']/allocation_df['population']*100

# Data shows 0 partial doses. Removing column from dataframe.
# allocation_df['pct_partial'] = allocation_df['partial_doses']/allocation_df['population']*100

allocation_df = allocation_df[['state', 'pct_full']]
allocation_df = allocation_df.rename(columns={'state':'State','pct_full':'Allocation Rate'})
allocation_df.head()

                  State  Allocation Rate
0                Nevada        24.738682
1                  Ohio        25.968081
2  District of Columbia        28.104184
3          Rhode Island        27.408504
4            California        25.543159