In [47]:
# Dependencies
import pandas as pd
import json
import requests 
from sqlalchemy import create_engine
from config import sql_pw
import psycopg2
import datetime as dt

In [48]:
# Census URL
census_url = "https://api.census.gov/data/2019/pep/population?get=DATE_CODE,DATE_DESC,POP,NAME,STATE&for=state:*"

#Request data in json and store variable
census_response = requests.get(census_url)
census_data = census_response.json()

# Create list to store values for the census data
date_code = []
date_desc = []
pop = []
name = []
state = []

# Loop through data and append list
for items in census_data:
    date_code.append(items[0])
    date_desc.append(items[1])
    pop.append(items[2])
    name.append(items[3])
    state.append(items[4])

# Create dataframe from list
census_df = pd.DataFrame({"Date Code":date_code, "Date Desc":date_desc,
                        "Population":pop, "State":name, "State ID":state})
census_df.head()

,Date Code,Date Desc,Population,State,State ID
0,DATE_CODE,DATE_DESC,POP,NAME,STATE
1,1,4/1/2010 Census population,2967297,Mississippi,28
2,2,4/1/2010 population estimates base,2968130,Mississippi,28
3,3,7/1/2010 population estimate,2970548,Mississippi,28
4,4,7/1/2011 population estimate,2978731,Mississippi,28

In [49]:
# Pfizer URL
pfizer_url = "https://data.cdc.gov/resource/saz5-9hgg.json"

#Request data in json and store variable
pfizer_response = requests.get(pfizer_url)
pfizer_data = pfizer_response.json()

# Create list to store values for the census data
pfizer_jurisdiction = []
pfizer_wk_of_allo = []
pfizer_dose_1 = []
pfizer_dose_2 = []

# Loop through data and append list
for items in pfizer_data:
    pfizer_jurisdiction.append(items["jurisdiction"])
    pfizer_wk_of_allo.append(items["week_of_allocations"])
    pfizer_dose_1.append(items["_1st_dose_allocations"])
    pfizer_dose_2.append(items["_2nd_dose_allocations"])

# Create dataframe from list
pfizer_df = pd.DataFrame({"State":pfizer_jurisdiction, "Week of Allocation":pfizer_wk_of_allo,
                        "1st Dose Allocation":pfizer_dose_1, "2nd Dose Allocation":pfizer_dose_2})
pfizer_df.head()

,State,Week of Allocation,1st Dose Allocation,2nd Dose Allocation
0,Connecticut,2021-03-22T00:00:00.000,50310,50310
1,Maine,2021-03-22T00:00:00.000,19890,19890
2,Massachusetts,2021-03-22T00:00:00.000,95940,95940
3,New Hampshire,2021-03-22T00:00:00.000,19890,19890
4,Rhode Island,2021-03-22T00:00:00.000,15210,15210

In [50]:
# Moderna URL
moderna_url = "https://data.cdc.gov/resource/b7pe-5nws.json"

#Request data in json and store variable
moderna_response = requests.get(moderna_url)
moderna_data = moderna_response.json()

# Create list to store values for the census data
moderna_jurisdiction = []
moderna_wk_of_allo = []
moderna_dose_1 = []
moderna_dose_2 = []

# Loop through data and append list
for items in moderna_data:
    moderna_jurisdiction.append(items["jurisdiction"])
    moderna_wk_of_allo.append(items["week_of_allocations"])
    moderna_dose_1.append(items["_1st_dose_allocations"])
    moderna_dose_2.append(items["_2nd_dose_allocations"])

# Create dataframe from list
moderna_df = pd.DataFrame({"State":moderna_jurisdiction, "Week of Allocation":moderna_wk_of_allo,
                    "1st Dose Allocation":moderna_dose_1, "2nd Dose Allocation":moderna_dose_2})
moderna_df.head()

,State,Week of Allocation,1st Dose Allocation,2nd Dose Allocation
0,Connecticut,2021-03-22T00:00:00.000,35800,35800
1,Maine,2021-03-22T00:00:00.000,13700,13700
2,Massachusetts,2021-03-22T00:00:00.000,69000,69000
3,New Hampshire,2021-03-22T00:00:00.000,13700,13700
4,Rhode Island,2021-03-22T00:00:00.000,10800,10800

In [51]:
# Moderna URL
janssen_url = "https://data.cdc.gov/resource/w9zu-fywh.json"

#Request data in json and store variable
janssen_response = requests.get(janssen_url)
janssen_data = janssen_response.json()

# Create list to store values for the census data
janssen_jurisdiction = []
janssen_wk_of_allo = []
janssen_dose_1 = []
janssen_dose_2 = []

# Loop through data and append list
for items in janssen_data:
    janssen_jurisdiction.append(items["jurisdiction"])
    janssen_wk_of_allo.append(items["week_of_allocations"])
    janssen_dose_1.append(items["_1st_dose_allocations"])

# Create dataframe from list
janssen_df = pd.DataFrame({"State":janssen_jurisdiction, "Week of Allocation":janssen_wk_of_allo,
                    "1st Dose Allocation":janssen_dose_1})
janssen_df.head()

           State       Week of Allocation 1st Dose Allocation
0    Connecticut  2021-03-22T00:00:00.000                4200
1          Maine  2021-03-22T00:00:00.000                1600
2  Massachusetts  2021-03-22T00:00:00.000                8000
3  New Hampshire  2021-03-22T00:00:00.000                1600
4   Rhode Island  2021-03-22T00:00:00.000                1300

# Transform Data

In [52]:
# Create Vaccine DataFrame
vaccine_df  = pd.DataFrame({"id": [0,1,2], "vaccine": ['Pfizer','Moderna','Janssen'], 
                            "req_doses":[2,2,1], "days_between":[21,28,None], "min_age":[16,18,18]
                            })
vaccine_df

   id  vaccine  req_doses  days_between  min_age
0   0   Pfizer          2          21.0       16
1   1  Moderna          2          28.0       18
2   2  Janssen          1           NaN       18

# Clean & Transform State Information

In [98]:
state_df = census_df[census_df['State'] != 'NAME']
state_df = state_df.rename(columns={'State ID':'id','State':'state','Population':'population','Date Desc':'desc'})
state_df['population_date'] = state_df['desc'].str[:8]
state_df[test_df['Date Code']=='12']['state'].nunique()
state_df = test_df[state_df['Date Code']=='12'][['id', 'state','population','population_date']]
state_df.head()

    id        state population population_date
12  28  Mississippi    2976149        7/1/2019
24  29     Missouri    6137428        7/1/2019
36  30      Montana    1068778        7/1/2019
48  31     Nebraska    1934408        7/1/2019
60  32       Nevada    3080156        7/1/2019

In [90]:
# Transform Allocation DataFrame
pfizer_df['vaccine']='Pfizer'
moderna_df['vaccine'] = 'Moderna'
janssen_df['vaccine']='Janssen'
janssen_df['2nd Dose Allocation']=None

allocation_df = pd.concat([janssen_df, moderna_df, pfizer_df], axis=0)
allocation_df.reset_index()
allocation_df.head()

,State,Week of Allocation,1st Dose Allocation,vaccine,2nd Dose Allocation
0,Connecticut,2021-03-22T00:00:00.000,4200,Janssen,None
1,Maine,2021-03-22T00:00:00.000,1600,Janssen,None
2,Massachusetts,2021-03-22T00:00:00.000,8000,Janssen,None
3,New Hampshire,2021-03-22T00:00:00.000,1600,Janssen,None
4,Rhode Island,2021-03-22T00:00:00.000,1300,Janssen,None

In [91]:
df = state_df.reset_index()
df = df.set_index('state')
allocation_df = allocation_df.join(df, on='State', rsuffix='_state')

df = vaccine_df.reset_index()
df = vaccine_df.set_index('vaccine')
allocation_df = allocation_df.join(df, on='vaccine', rsuffix='_vaccine')
allocation_df = allocation_df.rename(columns={'Week of Allocation':'week'
                                              ,'1st Dose Allocation':'dose1'
                                              ,'2nd Dose Allocation':'dose2'
                                             ,'id':'state_id'
                                             ,'id_vaccine':'vaccine_id'})
# allocation_df['id'] = allocation_df.index + 1
allocation_df = allocation_df[['week','dose1','dose2','state_id','vaccine_id']]

allocation_df.head()

                      week dose1 dose2 state_id  vaccine_id
0  2021-03-22T00:00:00.000  4200  None       09           2
1  2021-03-22T00:00:00.000  1600  None       23           2
2  2021-03-22T00:00:00.000  8000  None       25           2
3  2021-03-22T00:00:00.000  1600  None       33           2
4  2021-03-22T00:00:00.000  1300  None       44           2

In [87]:
engine = create_engine(f"postgresql+psycopg2://postgres:{sql_pw}@localhost:5432/covid_db")

In [88]:
# Establish Connection
connection = engine.connect()

In [93]:
vaccine_df.to_sql(name='vaccine', con=engine, if_exists='append', index=False)
state_df.to_sql(name='state', con=engine, if_exists='append', index=False)
allocation_df.to_sql(name='allocation', con=engine, if_exists='append', index=False)

In [97]:
pd.read_sql_query('select * from allocation', con=engine)

        id        week  dose1    dose2  state_id  vaccine_id
0        1  2021-03-22   4200      NaN       9.0           2
1        2  2021-03-22   1600      NaN      23.0           2
2        3  2021-03-22   8000      NaN      25.0           2
3        4  2021-03-22   1600      NaN      33.0           2
4        5  2021-03-22   1300      NaN      44.0           2
...    ...         ...    ...      ...       ...         ...
2011  2012  2020-12-14  72150  72150.0      51.0           0
2012  2013  2020-12-14  62400  62400.0      53.0           0
2013  2014  2020-12-14  16575  16575.0      54.0           0
2014  2015  2020-12-14  49725  49725.0      55.0           0
2015  2016  2020-12-14   4875   4875.0      56.0           0

[2016 rows x 6 columns]