In [1]:
# Dependencies
import pandas as pd
import json
import requests

In [48]:
# Census URL
census_url = "https://api.census.gov/data/2019/pep/population?get=DATE_CODE,DATE_DESC,POP,NAME,STATE&for=state:*"

#Request data in json and store variable
census_response = requests.get(census_url)
census_data = census_response.json()

# Create list to store values for the census data
date_code = []
date_desc = []
pop = []
name = []
state = []

# Loop through data and append list
for items in census_data:
        date_code.append(items[0])
        date_desc.append(items[1])
        pop.append(items[2])
        name.append(items[3])
        state.append(items[4])

# Create dataframe from list
census_df = pd.DataFrame({"Date Code":date_code, "Date Desc":date_desc,
                        "Population":pop, "State":name, "State ID":state})
census_df.head()

,Date Code,Date Desc,Population,State,State ID
0,DATE_CODE,DATE_DESC,POP,NAME,STATE
1,1,4/1/2010 Census population,2967297,Mississippi,28
2,2,4/1/2010 population estimates base,2968130,Mississippi,28
3,3,7/1/2010 population estimate,2970548,Mississippi,28
4,4,7/1/2011 population estimate,2978731,Mississippi,28

In [56]:
# Pfizer URL
pfizer_url = "https://data.cdc.gov/resource/saz5-9hgg.json"

#Request data in json and store variable
pfizer_response = requests.get(pfizer_url)
pfizer_data = pfizer_response.json()

# Create list to store values for the census data
jurisdiction = []
wk_of_allo = []
dose_1 = []
dose_2 = []

# Loop through data and append list
for items in pfizer_data:
        jurisdiction.append(items["jurisdiction"])
        wk_of_allo.append(items["week_of_allocations"])
        dose_1.append(items["_1st_dose_allocations"])
        dose_2.append(items["_2nd_dose_allocations"])

# Create dataframe from list
pfizer_df = pd.DataFrame({"State":jurisdiction, "Week of Allocation":wk_of_allo,
                        "1st Dose Allocation":dose_1, "2nd Dose Allocation":dose_2})
pfizer_df.head()

'Connecticut'

,State,Week of Allocation,1st Dose Allocation,2nd Dose Allocation
0,Connecticut,2021-03-15T00:00:00.000,49140,49140
1,Maine,2021-03-15T00:00:00.000,18720,18720
2,Massachusetts,2021-03-15T00:00:00.000,93600,93600
3,New Hampshire,2021-03-15T00:00:00.000,18720,18720
4,Rhode Island,2021-03-15T00:00:00.000,15210,15210