In [1]:
# Dependencies
import pandas as pd
import json
import requests

In [2]:
# Census URL
census_url = "https://api.census.gov/data/2019/pep/population?get=DATE_CODE,DATE_DESC,POP,NAME,STATE&for=state:*"

#Request data in json and store variable
census_response = requests.get(census_url)
census_data = census_response.json()

# Create list to store values for the census data
date_code = []
date_desc = []
pop = []
name = []
state = []

# Loop through data and append list
for items in census_data:
    date_code.append(items[0])
    date_desc.append(items[1])
    pop.append(items[2])
    name.append(items[3])
    state.append(items[4])

# Create dataframe from list
census_df = pd.DataFrame({"Date Code":date_code, "Date Desc":date_desc,
                        "Population":pop, "State":name, "State ID":state})
census_df.head()

,Date Code,Date Desc,Population,State,State ID
0,DATE_CODE,DATE_DESC,POP,NAME,STATE
1,1,4/1/2010 Census population,2967297,Mississippi,28
2,2,4/1/2010 population estimates base,2968130,Mississippi,28
3,3,7/1/2010 population estimate,2970548,Mississippi,28
4,4,7/1/2011 population estimate,2978731,Mississippi,28

In [3]:
# Pfizer URL
pfizer_url = "https://data.cdc.gov/resource/saz5-9hgg.json"

#Request data in json and store variable
pfizer_response = requests.get(pfizer_url)
pfizer_data = pfizer_response.json()

# Create list to store values for the census data
pfizer_jurisdiction = []
pfizer_wk_of_allo = []
pfizer_dose_1 = []
pfizer_dose_2 = []

# Loop through data and append list
for items in pfizer_data:
    pfizer_jurisdiction.append(items["jurisdiction"])
    pfizer_wk_of_allo.append(items["week_of_allocations"])
    pfizer_dose_1.append(items["_1st_dose_allocations"])
    pfizer_dose_2.append(items["_2nd_dose_allocations"])

# Create dataframe from list
pfizer_df = pd.DataFrame({"State":pfizer_jurisdiction, "Week of Allocation":pfizer_wk_of_allo,
                        "1st Dose Allocation":pfizer_dose_1, "2nd Dose Allocation":pfizer_dose_2})
pfizer_df.head()

,State,Week of Allocation,1st Dose Allocation,2nd Dose Allocation
0,Connecticut,2021-03-22T00:00:00.000,50310,50310
1,Maine,2021-03-22T00:00:00.000,19890,19890
2,Massachusetts,2021-03-22T00:00:00.000,95940,95940
3,New Hampshire,2021-03-22T00:00:00.000,19890,19890
4,Rhode Island,2021-03-22T00:00:00.000,15210,15210

In [4]:
# Moderna URL
moderna_url = "https://data.cdc.gov/resource/b7pe-5nws.json"

#Request data in json and store variable
moderna_response = requests.get(moderna_url)
moderna_data = moderna_response.json()

# Create list to store values for the census data
moderna_jurisdiction = []
moderna_wk_of_allo = []
moderna_dose_1 = []
moderna_dose_2 = []

# Loop through data and append list
for items in moderna_data:
    moderna_jurisdiction.append(items["jurisdiction"])
    moderna_wk_of_allo.append(items["week_of_allocations"])
    moderna_dose_1.append(items["_1st_dose_allocations"])
    moderna_dose_2.append(items["_2nd_dose_allocations"])

# Create dataframe from list
moderna_df = pd.DataFrame({"State":moderna_jurisdiction, "Week of Allocation":moderna_wk_of_allo,
                    "1st Dose Allocation":moderna_dose_1, "2nd Dose Allocation":moderna_dose_2})
moderna_df.head()

,State,Week of Allocation,1st Dose Allocation,2nd Dose Allocation
0,Connecticut,2021-03-22T00:00:00.000,35800,35800
1,Maine,2021-03-22T00:00:00.000,13700,13700
2,Massachusetts,2021-03-22T00:00:00.000,69000,69000
3,New Hampshire,2021-03-22T00:00:00.000,13700,13700
4,Rhode Island,2021-03-22T00:00:00.000,10800,10800

In [5]:
# Moderna URL
janssen_url = "https://data.cdc.gov/resource/w9zu-fywh.json"

#Request data in json and store variable
janssen_response = requests.get(janssen_url)
janssen_data = janssen_response.json()

# Create list to store values for the census data
janssen_jurisdiction = []
janssen_wk_of_allo = []
janssen_dose_1 = []
janssen_dose_2 = []

# Loop through data and append list
for items in janssen_data:
    janssen_jurisdiction.append(items["jurisdiction"])
    janssen_wk_of_allo.append(items["week_of_allocations"])
    janssen_dose_1.append(items["_1st_dose_allocations"])

# Create dataframe from list
janssen_df = pd.DataFrame({"State":janssen_jurisdiction, "Week of Allocation":janssen_wk_of_allo,
                    "1st Dose Allocation":janssen_dose_1})
janssen_df.head()

           State       Week of Allocation 1st Dose Allocation
0    Connecticut  2021-03-22T00:00:00.000                4200
1          Maine  2021-03-22T00:00:00.000                1600
2  Massachusetts  2021-03-22T00:00:00.000                8000
3  New Hampshire  2021-03-22T00:00:00.000                1600
4   Rhode Island  2021-03-22T00:00:00.000                1300

In [13]:
# Vaccine Table
vaccine_df  = pd.DataFrame({"Vaccine": ['Pfizer','Moderna','Janssen'], 
                            "req_doses":[2,2,1], "days_between":[21,28,None], "min_age":[16,18,18]
                            })
vaccine_df

   Vaccine  req_doses  days_between  min_age
0   Pfizer          2          21.0       16
1  Moderna          2          28.0       18
2  Janssen          1           NaN       18